<div (click)="record()" class="hello"
    [ngStyle]="{'background-color':currentColor}"
>

    <h1>Speech color changer</h1>

    <div class="hints">
        Tap/click then say a color to change the background color of the app.
        <table>
            <tr><th>color</th><th>count</th><th>confidence</th></tr>
        @for (color of colors; track $index) {
            <tr>
                <td>
            <span 
                [ngStyle]="{'background-color':color}"> 
                {{color}} 
            </span>
                </td>
                <td>
                    {{colorsDict[color]}}
                </td>
                <td>
                    {{confidenceDict[color]}}
                </td>
            </tr>
        }
        </table>
    </div>


@if(result) {
    {{result}}
}

</div>